---
layout: default
---
<div class="projects">
  <p>These are some of the open source projects that I've built over the past few
    years:</p>

  <ul>
    <li>
      <a href="https://github.com/felipecsl/wombat">Wombat</a>
      <span class="description">
        Lightweight Ruby web crawler/scraper with an elegant
        DSL which extracts structured data from pages.
      </span>
      <span class="repo-language">
        <span class="repo-language-color" style="background-color:#701516;"></span>
        Ruby
      </span>
    </li>
    <li><a href="https://github.com/felipecsl/asymmetricgridview">AsymmetricGridView</a>
      <span class="description">Android ListView that mimics
        a GridView with asymmetric items</span>
      <span class="repo-language">
        <span class="repo-language-color" style="background-color:#b07219;"></span>
        Java
      </span>
    </li>
    <li><a href="https://github.com/EliFUT/android">EliFUT</a>
      <span class="description">A "football manager" style Android game</span>
      <span class="repo-language">
        <span class="repo-language-color" style="background-color:#b07219;"></span>
        Java
      </span>
    </li>
    <li><a href="https://github.com/felipecsl/ktnes">ktnes</a>
      <span class="description">A multiplatform NES emulator written in Kotlin</span>
      <span class="repo-language">
        <span class="repo-language-color" style="background-color:#F18E33;"></span>
        Kotlin
      </span>
    </li>
    <li><a href="https://github.com/felipecsl/GifImageView">GifImageView</a>
      <span class="description">Android ImageView that handles animated
        GIF images</span>
      <span class="repo-language">
        <span class="repo-language-color" style="background-color:#b07219;"></span>
        Java
      </span>
    </li>
    <li><a href="https://github.com/felipecsl/random-maze-generator">Random Maze Generator</a>
      <span class="description">Find the shortest path
        out of a generated random maze.</span>
      <span class="repo-language">
        <span class="repo-language-color" style="background-color:#f1e05a;"></span>
        JavaScript
      </span>
    </li>
  </ul>
</div>