---
layout: default
---
<div class="projects">
  <p>These are some of the open source projects that I've built over the past few
    years:</p>

  <ul>
    <li><a href="https://github.com/felipecsl/wombat">Wombat</a>: Lightweight Ruby web crawler/scraper with an elegant
      DSL which
      extracts structured data from pages.</li>
    <li><a href="https://github.com/felipecsl/asymmetricgridview">AsymmetricGridView</a>: Android ListView that mimics
      a GridView with asymmetric items</li>
    <li><a href="https://github.com/EliFUT/android">EliFUT</a>: A "football manager" style Android game</li>
    <li><a href="https://github.com/felipecsl/ktnes">ktnes</a>: A multiplatform NES emulator written in Kotlin</li>
    <li><a href="https://github.com/felipecsl/GifImageView">GifImageView</a>: Android ImageView that handles animated
      GIF images</li>
    <li><a href="https://github.com/felipecsl/random-maze-generator">Random Maze Generator</a>: Find the shortest path
      out of a generated random maze.</li>
  </ul>
</div>